/* @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes breathe {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.animate-slide-in {
    animation: slideIn 1s ease-in-out forwards;
}

.animate-breathe {
    animation: breathe 3s ease-in-out infinite;
}

.relative .absolute img {
    animation: breathe 6s ease-in-out infinite;
} */

/* Slide animation for text */
@keyframes slide-to-center {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-to-center {
    animation: slide-to-center 1s ease-in-out;
}

/* Breathing animation for image */
@keyframes breathe {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.animate-breathe {
    animation: breathe 3s infinite;
}
